<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Menu</title>
</head>
<body>
    <%- include('./partials/nav') %>
  <h1>Full Menu</h1>

  <% RESTAURANT.menu.forEach(m => { %>
    <li>
        <ul>Dish Name: <%= m.name %> <% if (m.rating === 5){ %> ⭐ <% } %></ul>
        <ul>Price: <%= m.price %></ul>
        <ul>Rating: <%= m.rating %></ul>
        <ul>Details: <%= m.details %></ul>
    </li>
  <% }) %>
</body>
</html>
